{
  "openapi": "3.0.2",
  "info": {
    "title": "Sefaria API",
    "version": "1.0.0",
    "description": "The Sefaria API endpoints grant live access to Sefaria's structured database of Jewish texts and their interconnections.",
    "contact": {
      "url": "https://www.sefaria.org",
      "email": "developers@sefaria.org"
    },
    "license": {
      "name": "GNU AGPLv3",
      "url": "https://www.gnu.org/licenses/agpl.txt"
    }
  },
  "servers": [{ "url": "https://www.sefaria.org", "description": "" }],
  "tags": [
    { "name": "Text", "description": "Operations related to retrieving texts" },
    { "name": "Index", "description": "Operations related to Sefaria indices" },
    {
      "name": "Related",
      "description": "Operations related to retrieving links and relationships between texts"
    },
    {
      "name": "Calendars",
      "description": "Operations related to retrieving calendar data"
    },
    {
      "name": "Lexicon",
      "description": "Operations related to retrieving lexicon (dictionary) data"
    },
    {
      "name": "Topic",
      "description": "Operations related to retrieving topic data"
    },
    {
      "name": "Term",
      "description": "Operations related to retrieving Term data (a Sefaria Term is a shared title node)"
    },
    {
      "name": "Sheets",
      "description": "Operations related to Sefaria source sheets"
    },
    {
      "name": "Collections",
      "description": "Operations related to Sefaria collections — curated groups of source sheets"
    },
    {
      "name": "Ref",
      "description": "Operations related to validating and analyzing text references"
    },
    { "name": "Misc", "description": "Miscellaneous API endpoints" }
  ],
  "paths": {
    "/api/v3/texts/{tref}": {
      "summary": "v3 Texts",
      "description": "The most up-to-date way to retrieve Sefaria texts, with language data that can handle displaying a right-to-left text with a right-to-left translation. ",
      "get": {
        "operationId": "get-v3-texts",
        "tags": ["Text"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreV3TextsResponse"
                },
                "examples": {
                  "Esther 1.1": {
                    "value": {
                      "versions": [
                        {
                          "status": "locked",
                          "priority": 2,
                          "license": "CC-BY-SA",
                          "versionNotes": "<i>Miqra According to the Masorah</i> (MAM) is a digital Hebrew edition of the Tanakh based on the Aleppo Codex and related manuscripts. It is designed for readers, and as such it contains added elements to aid vocalization of the text. For instance: When an accent is marked in an unstressed syllable, an extra accent is added in the proper place (<i>pashta</i>, <i>zarqa</i>, <i>segol</i>, <i>telisha</i>). <i>Legarmeih</i> and <i>paseq</i> are visibly distinguished. <i>Qamaz qatan</i> is indicated by its designated Unicode character (alternatives are documented where traditions differ about its application).<br>The text of MAM is fully documented. The <a href=\"https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94/%D7%9E%D7%99%D7%93%D7%A2_%D7%A2%D7%9C_%D7%9E%D7%94%D7%93%D7%95%D7%A8%D7%94_%D7%96%D7%95\">complete introduction</a> to the edition (Hebrew) explains the types of editorial decisions that have been made and the reasons for them (<a href=\"https://en.wikisource.org/wiki/User:Dovi/Miqra_according_to_the_Masorah#About_this_Edition_(English_Abstract)\">English abstract</a>). In addition, every word in the Bible about which there is some textual concern or ambiguity includes a documentation note; these notes can be viewed conveniently <a href=\"https://bdenckla.github.io/MAM-with-doc/\">here</a>. If an error is discovered, it may be reported to <a href=\"https://he.wikisource.org/wiki/%D7%A9%D7%99%D7%97%D7%AA_%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi\">User:Dovi</a> at Hebrew Wikisource. Please check the documentation notes before reporting an error.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מקרא על פי המסורה",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "versionSource": "https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94",
                          "versionTitle": "Miqra according to the Masorah",
                          "text": "וַיְהִ֖י בִּימֵ֣י אֲחַשְׁוֵר֑וֹשׁ ה֣וּא אֲחַשְׁוֵר֗וֹשׁ הַמֹּלֵךְ֙ מֵהֹ֣דּוּ וְעַד־כּ֔וּשׁ שֶׁ֛בַע וְעֶשְׂרִ֥ים וּמֵאָ֖ה מְדִינָֽה׃"
                        }
                      ],
                      "available_versions": [
                        {
                          "status": "locked",
                          "priority": 2,
                          "license": "CC-BY-SA",
                          "versionNotes": "<i>Miqra According to the Masorah</i> (MAM) is a digital Hebrew edition of the Tanakh based on the Aleppo Codex and related manuscripts. It is designed for readers, and as such it contains added elements to aid vocalization of the text. For instance: When an accent is marked in an unstressed syllable, an extra accent is added in the proper place (<i>pashta</i>, <i>zarqa</i>, <i>segol</i>, <i>telisha</i>). <i>Legarmeih</i> and <i>paseq</i> are visibly distinguished. <i>Qamaz qatan</i> is indicated by its designated Unicode character (alternatives are documented where traditions differ about its application).<br>The text of MAM is fully documented. The <a href=\"https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94/%D7%9E%D7%99%D7%93%D7%A2_%D7%A2%D7%9C_%D7%9E%D7%94%D7%93%D7%95%D7%A8%D7%94_%D7%96%D7%95\">complete introduction</a> to the edition (Hebrew) explains the types of editorial decisions that have been made and the reasons for them (<a href=\"https://en.wikisource.org/wiki/User:Dovi/Miqra_according_to_the_Masorah#About_this_Edition_(English_Abstract)\">English abstract</a>). In addition, every word in the Bible about which there is some textual concern or ambiguity includes a documentation note; these notes can be viewed conveniently <a href=\"https://bdenckla.github.io/MAM-with-doc/\">here</a>. If an error is discovered, it may be reported to <a href=\"https://he.wikisource.org/wiki/%D7%A9%D7%99%D7%97%D7%AA_%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi\">User:Dovi</a> at Hebrew Wikisource. Please check the documentation notes before reporting an error.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מקרא על פי המסורה",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94",
                          "versionTitle": "Miqra according to the Masorah"
                        },
                        {
                          "status": "locked",
                          "priority": 2,
                          "license": "CC-BY-NC",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "JPS, 1985",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/JPS_1985.png",
                          "purchaseInformationURL": "https://www.nebraskapress.unl.edu/jps/9780827602526/",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://jps.org/books/tanakh-the-holy-scriptures-blue/",
                          "versionTitle": "Tanakh: The Holy Scriptures, published by JPS"
                        },
                        {
                          "status": "locked",
                          "priority": 1,
                          "license": "Public Domain",
                          "versionNotes": "This 1917 translation by the Jewish Publication Society is in the public domain. JPS graciously shared digital images of this text with the Open Siddur Project, from which the text was imported by Sefaria.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "כתבי הקודש: תרגום חדש (1917 JPS)",
                          "versionNotesInHebrew": "תרגום JPS 1917 קיים בנחלת הכלל. הסריקות באדיבות JPS. שעתוק הטקסט תודות לפרויקט Open Siddur, משם יובא הטקסט למאגר ספריא",
                          "shortVersionTitle": "JPS 1917",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://opensiddur.org/2010/08/%D7%AA%D7%A0%D7%B4%D7%9A-the-holy-scriptures-a-new-translation-jps-1917/",
                          "versionTitle": "The Holy Scriptures: A New Translation (JPS 1917)"
                        },
                        {
                          "status": "locked",
                          "priority": 1,
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תנ״ך מלווה בטעמי מקרא",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.tanach.us/Tanach.xml",
                          "versionTitle": "Tanach with Ta'amei Hamikra"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תנ״ך - טקסט בלבד",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.tanach.us/Tanach.xml",
                          "versionTitle": "Tanach with Text Only"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תנ״ך עם ניקוד",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.tanach.us/Tanach.xml",
                          "versionTitle": "Tanach with Nikkud"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תרגום קהילת ספריא",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Sefaria Community Translation"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY",
                          "versionNotes": "To enhance the quality of this text, obvious translation errors were corrected in accordance with the Hebrew source",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "כתובים' על פי רש״י, רבי שרגא זילברשטיין",
                          "versionNotesInHebrew": "כדי לשפר את איכות הטקסט הזה, שונו שגיאות תרגום ברורות בהתאם למקור העברי",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://www.sefaria.org/shraga-silverstein",
                          "versionTitle": "The Rashi Ketuvim by Rabbi Shraga Silverstein"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY-NC",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/9f4b3fedfe5a8889a3a7b3b7f3022091.png",
                          "purchaseInformationURL": "https://korenpub.com/collections/tanakh",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.korenpub.com/koren_en_usd/koren/tanakh-bible/the-koren-jerusalem-bible.html",
                          "versionTitle": "The Koren Jerusalem Bible"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/958565938f3a7ed617834d467ac93c9f.png",
                          "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.judaicaplace.com/search/brand/Metsudah-Publications/",
                          "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "חמש מגילות, הוצאת 'מצודה', לייקווד תשס\"א",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/232433ac3323606604f21e0c70f0c061.png",
                          "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://www.judaicaplace.com/search/brand/Metsudah-Publications/",
                          "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מגילת אסתר - מהדורה פורימית!!",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Megillat Esther - Purim Edition!!"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fr",
                          "languageFamilyName": "french",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://fr.wikisource.org/wiki/Bible_du_Rabbinat_1899",
                          "versionTitle": "Bible du Rabbinat 1899 [fr]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "CC0",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מגילת אמוג'י",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Emoji Megillah"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "CC0",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Emoji Megillah"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "Izaak Cylkow, 1841 - 1908 ",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "pl",
                          "languageFamilyName": "polish",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://bibliepolskie.pl/",
                          "versionTitle": "Bible in Polish, trans. Izaak Cylkow, 1841 - 1908 [pl]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "it",
                          "languageFamilyName": "italian",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://www.archivio-torah.it",
                          "versionTitle": "Ester. Traduzione italiana di Samuel David Luzzatto, 1872 [it]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fa",
                          "languageFamilyName": "persian",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.iranjewish.com/megilla/megilla_main.htm",
                          "versionTitle": "Book of Esther in Farsi, trans. by Pole-Choubi, synagogue Talmood Torah [fa]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fa",
                          "languageFamilyName": "persian",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://www.iranjewish.com/megilla/megilla_main.htm",
                          "versionTitle": "Book of Esther in Farsi, trans. by Pole-Choubi, synagogue Talmood Torah, LTR [fa]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "This 1941 translation published by Yehoʼash Farlag Gezelshaft is in the public domain. A transcribed digitized version was produced by Itsik \"Robert\" Goldenberg, et al, by the Yehoyesh Project (1998-2006) under the direction of Leonard Prager. That version was graciously shared with the Open Siddur Project, from which the text was imported by Sefaria.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "yi",
                          "languageFamilyName": "yiddish",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://opensiddur.org/praxes/study/yehoyeshs-yiddish-translation-of-the-tanakh/",
                          "versionTitle": "Yehoyesh's Yiddish Tanakh Translation [yi]"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "",
                          "versionNotes": "<b>Translator:</b> Marion Kaufmann, based on german translations of Tur-Sinai, Martín Buber and Franz Rosenzwig<br><b>Review and correction:</b> Manes Kogan<br><b>Final Review:</b> Batia Dorfman",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "es",
                          "languageFamilyName": "spanish",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.seminariorabinico.org/wp-content/uploads/El-libro-de-Ester-Meguila-Ester.pdf",
                          "versionTitle": "El libro de Ester - Meguila Ester - Seminario Rabínico [es]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "Samuel Cahen, 1831 ",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fr",
                          "languageFamilyName": "french",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.levangile.com/Bible-CAH-1-1-1-complet-Contexte-oui.htm",
                          "versionTitle": "La Bible, Traduction Nouvelle, Samuel Cahen, 1831 [fr]"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "eo",
                          "languageFamilyName": "esperanto",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://eo.wikisource.org/wiki/Malnova_Testamento_(Zamenhof)/Ester/1",
                          "versionTitle": "La Malnova Testamento, L.L.Zamenhof [eo]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "Digitized by Chajm Guski and Marina Struse",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "de",
                          "languageFamilyName": "german",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.talmud.de/tlmd/tanach/",
                          "versionTitle": "Die Heilige Schrift, trans. Dr. Simon Bernfeld, Berlin, 1902 - German [de]"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "PD",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": true,
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://he.wikisource.org/wiki/%D7%9E%D7%A7%D7%A8%D7%90_%D7%9E%D7%91%D7%95%D7%90%D7%A8",
                          "versionTitle": "Miqra Mevoar, trans. and edited by David Kokhav, Jerusalem 2020"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "<a href=\"http://purl.org/jps/rjps-preface\">Read the Preface to the Revised JPS Edition</a>\n<br><br>\n<a href=\"http://purl.org/jps/gender\">Read the Notes on Gender in Translation for the Revised JPS Edition</a>\n<br><br>\n<a href=\"https://www.sefaria.org/collections/commentary-on-the-usage-and-rendering-of-%D7%90%D7%99%D7%A9?tab=sheets\">Read a Commentary on the Hebrew word 'ish in the Revised JPS Edition</a>",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "Revised JPS, 2023",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/JPS-Tanakh-Gender-Sensitive-Edition-Cover-300x450.jpg",
                          "purchaseInformationURL": "https://jps.org/books/the-jps-tanakh-gender-sensitive-edition/",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://jps.org/books/the-jps-tanakh-gender-sensitive-edition/",
                          "versionTitle": "THE JPS TANAKH: Gender-Sensitive Edition"
                        }
                      ],
                      "ref": "Esther 1:1",
                      "heRef": "אסתר א׳:א׳",
                      "sections": ["1", "1"],
                      "toSections": ["1", "1"],
                      "sectionRef": "Esther 1",
                      "heSectionRef": "אסתר א׳",
                      "firstAvailableSectionRef": "Esther 1:1",
                      "isSpanning": false,
                      "spanningRefs": ["Esther 1:1"],
                      "next": "Esther 2",
                      "title": "Esther 1",
                      "book": "Esther",
                      "heTitle": "אסתר",
                      "primary_category": "Tanakh",
                      "type": "Tanakh",
                      "indexTitle": "Esther",
                      "categories": ["Tanakh", "Writings"],
                      "heIndexTitle": "אסתר",
                      "isComplex": false,
                      "isDependant": false,
                      "order": [34, 8],
                      "collectiveTitle": "",
                      "heCollectiveTitle": "",
                      "alts": [],
                      "lengths": [10, 167],
                      "length": 10,
                      "textDepth": 2,
                      "sectionNames": ["Chapter", "Verse"],
                      "addressTypes": ["Perek", "Pasuk"],
                      "titleVariants": [
                        "Est.",
                        "Est",
                        "Ester",
                        "Esth.",
                        "Esth",
                        "Esther"
                      ],
                      "heTitleVariants": ["מגילת אסתר", "אסתר"],
                      "index_offsets_by_depth": {},
                      "warnings": []
                    }
                  }
                }
              }
            },
            "description": "Successful retrieval of the desired texts."
          },
          "400": {
            "description": "Invalid return format or text adapter failure.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CoreErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Invalid, empty, or unavailable reference.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CoreErrorResponse" }
              }
            }
          }
        },
        "summary": "Texts (v3)",
        "description": "The most up-to-date way to retrieve texts from Sefaria via the API, with enhanced control over language, language direction, and other parameters. "
      },
      "parameters": [
        {
          "examples": {
            "language": { "value": "hebrew" },
            "language|version": {
              "value": "hebrew|Miqra according to the Masorah"
            }
          },
          "name": "version",
          "description": "There are two possible forms for the string passed as the `version`:\n1. `language`\n2. `language|versionTitle`\n\nWhen in the form of `language`, the primary version of that language is returned in the `versions` field of the response object. When in the form of `language|versionTitle`, only that specific version is returned in the `versions` field. \n\n\n**Notes**: \n- `language` is the full English name of the language. In cases of dialectics with varying sub-specifities, please pass the ‘mother’ language (so for example, `arabic` rather than `judeo-arabic`). This field is NOT case sensitive.\n- `versionTitle` is the exact English `versionTitle` of the given `version` in the Sefaria database. \n- When only `language` is passed, the response will return a single version of the text in that language, the one that is highest priority in the Sefaria database.\n- Requests can have more than one `version` param. If no `version` was passed, the API defaults to `version=primary`.\n\n-----\n\n**Special Values**\nThe following values can be passed in as special values to the `version` parameter. \n- `source`: When `version=source` is passed, it retrieves the text in its \"source\" language (i.e. the original language the text was written in, versus a translation).\n- `translation`: When `version=translation`is passed, it retrieves a translation of the text. \n- `primary`: When `version=primary` is passed, it retrieves the primary text as per the Sefaria database (i.e. the `isPrimary` field on the `version` in the database is set to `True`). Usually the text returned is identical to what is returned with the special value of `source`, but it can also include other languages (e.g. Hebrew for the _Kuzari_, which was originally written in Judeo-Arabic)\n- `all`: get all texts in the required language.\n\n\nIf a required version is missing that information will be under the field warnings of the response.\n",
          "schema": { "type": "array", "items": { "type": "string" } },
          "in": "query",
          "style": "form",
          "explode": true
        },
        {
          "examples": {
            "Tanakh Segment Level Ref": { "value": "Esther 1.1" },
            "Tanakh Bottom Level Section Ref": { "value": "Esther 4" },
            "Talmud Segment Ref": { "value": "Berakhot 14b.2" },
            "Talmud Bottom Level Section Ref": { "value": "Berakhot 14b" },
            "Commentary Section Ref": { "value": "Rashi on Genesis 1:1:1" },
            "Commentary Bottom Level Section Ref": {
              "value": "Rashi on Genesis 1:1"
            }
          },
          "name": "tref",
          "description": "A Sefaria-specific reference, `Ref`. This should be a segment `Ref` (the most specific reference possible), or bottom level section `Ref` (i.e.  a section of text one level up. A section is an array of segments). If a `Ref` which is not a segment or bottom level section is passed, the response will be to the first bottom level section `Ref` (e.g. `Genesis` will resolve to the bottom level section `Ref` of `Genesis 1`)",
          "schema": { "type": "string", "default": "Esther 1.1" },
          "in": "path",
          "required": true
        },
        {
          "name": "fill_in_missing_segments",
          "description": "This parameter is only relevant for cases where the requested text is incomplete (i.e. not all of the segments in the requested version exist in the database for that text, such as a partial translation).\n\nWhen `fill_in_missing_segments=1`, the segments of text that are missing in the requested version will be filled by other versions of the same language.\n\nThis value defaults to `0`. \n",
          "schema": { "enum": ["0", "1"], "type": "string" },
          "in": "query"
        },
        {
          "examples": {
            "Text Only": { "value": "text_only" },
            "Wrap All Entities": { "value": "wrap_all_entities" }
          },
          "name": "return_format",
          "description": "This parameter formats the text that will be returned from the `v3` `texts/` API. It can have one of four values:\n1. `text_only` - This strips footnotes, inline references, and all HTML tags from the returned text.\n2. `strip_only_footnotes` - This strips only the footnotes and commentator tags without stripping the other HTML tags.This is useful for the native app, where we do not display footnotes.\n3. `wrap_all_entities` - This wraps the HTML for links and topic links.\n4. `default` - This returns the basic text as it is saved in Sefaria’s DB.\n",
          "schema": {
            "enum": [
              "default",
              "wrap_all_entities",
              "strip_only_footnotes",
              "text_only"
            ],
            "type": "string",
            "default": "default"
          },
          "in": "query"
        }
      ]
    },
    "/api/texts/versions/{tref}": {
      "summary": "All Available Versions of a Text",
      "description": "This endpoint returns all of the available versions of a text given an index title passed as a parameter. ",
      "get": {
        "operationId": "get-versions",
        "tags": ["Text"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Rashi on Kohelet": {
                    "value": [
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001",
                        "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002162036",
                        "language": "he",
                        "status": "locked",
                        "license": "CC-BY",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": 2,
                        "versionTitleInHebrew": "",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/ba0b4357b240eff4b28b7fcfc4669d56.png",
                        "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001",
                        "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002162036",
                        "language": "en",
                        "status": "locked",
                        "license": "CC-BY",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": 2,
                        "versionTitleInHebrew": "",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/00c61bd3103f9398bf080832c4a0221f.png",
                        "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "On Your Way",
                        "versionSource": "http://mobile.tora.ws/",
                        "language": "he",
                        "status": "locked",
                        "license": "Public Domain",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": 1,
                        "versionTitleInHebrew": "ובלכתך בדרך",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "",
                        "purchaseInformationURL": "",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "Sefaria Community Translation",
                        "versionSource": "https://www.sefaria.org",
                        "language": "en",
                        "status": "",
                        "license": "",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": "",
                        "versionTitleInHebrew": "תרגום קהילת ספריא",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "",
                        "purchaseInformationURL": "",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 3:3"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "The Five Megilloth, English translation by A. Cohen, Soncino Press, 1946",
                        "versionSource": "https://www.nli.org.il/en/books/NNL_ALEPH002644163/NLI",
                        "language": "en",
                        "status": "locked",
                        "license": "CC-BY",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": "",
                        "versionTitleInHebrew": "",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "",
                        "purchaseInformationURL": "",
                        "shortVersionTitle": "Abraham Cohen, Soncino Press, 1946",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      }
                    ]
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/VersionJSON" }
                    },
                    { "$ref": "#/components/schemas/CoreErrorResponse" }
                  ]
                }
              }
            },
            "description": "Returns a list containing the JSON Objects for each version available for the given `index` title. Each JSON Object contains all of the metadata for a given version. "
          }
        },
        "summary": "Versions",
        "description": "The versions API takes a title of a valid Sefaria `index` as a parameter, and will return all available versions of the text in the Sefaria database, alongside metadata for each version. A version can be a translation of the text, an alternative language, or any other text associated with that index. \n\n*Note:* In order to see the expected results, you need to make sure you are passing a recognized `index`. For example, `Rashi on Genesis` is a valid `index` but `Rashi` is not. To see the entire list of valid Sefaria indices, click [here](https://www.sefaria.org/api/index/)"
      },
      "parameters": [
        {
          "examples": {
            "Mishnah": { "value": "Mishnah Berakhot" },
            "Tanakh": { "value": "Kohelet" },
            "Commentary": { "value": "Rashi on Exodus" },
            "Halacha": { "value": "Shulchan Aruch Orach Chaim" }
          },
          "name": "tref",
          "description": "A valid Sefaria reference.",
          "schema": { "type": "string", "default": "Mishnah Berakhot" },
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/ref/{tref}": {
      "summary": "Ref",
      "description": "Validates a text reference string and returns metadata about it, including its type, structure, and navigation information (prev/next refs, parent ref, etc.).",
      "get": {
        "operationId": "get-ref",
        "tags": ["Ref"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CoreRefResponse" },
                "examples": {
                  "JaggedArrayNode (Segment Level)": {
                    "value": {
                      "is_ref": true,
                      "normalized": "Genesis 1:1",
                      "hebrew": "בראשית א׳:א׳",
                      "url_ref": "Genesis.1.1",
                      "index_title": "Genesis",
                      "node_type": "JaggedArrayNode",
                      "navigation_refs": {
                        "shortest_path_to_root": ["Genesis", "Genesis 1"],
                        "first_available_section_ref": "Genesis 1",
                        "prev_segment_ref": null,
                        "next_segment_ref": "Genesis 1:2"
                      },
                      "depth": 2,
                      "address_types": ["Perek", "Pasuk"],
                      "section_names": ["Chapter", "Verse"],
                      "start_indexes": [1, 1],
                      "start_labels": ["1", "1"],
                      "end_indexes": [1, 1],
                      "end_labels": ["1", "1"]
                    }
                  },
                  "JaggedArrayNode (Section Level)": {
                    "value": {
                      "is_ref": true,
                      "normalized": "Genesis 1",
                      "hebrew": "בראשית א׳",
                      "url_ref": "Genesis.1",
                      "index_title": "Genesis",
                      "node_type": "JaggedArrayNode",
                      "navigation_refs": {
                        "shortest_path_to_root": ["Genesis"],
                        "first_available_section_ref": "Genesis 1",
                        "prev_section_ref": null,
                        "next_section_ref": "Genesis 2",
                        "first_subref": "Genesis 1:1",
                        "last_subref": "Genesis 1:31"
                      },
                      "depth": 2,
                      "address_types": ["Perek", "Pasuk"],
                      "section_names": ["Chapter", "Verse"],
                      "start_indexes": [1],
                      "start_labels": ["1"],
                      "end_indexes": [1],
                      "end_labels": ["1"]
                    }
                  },
                  "SchemaNode": {
                    "value": {
                      "is_ref": true,
                      "normalized": "Ramban on Genesis",
                      "hebrew": "רמב\"ן על בראשית",
                      "url_ref": "Ramban_on_Genesis",
                      "index_title": "Ramban on Genesis",
                      "node_type": "SchemaNode",
                      "navigation_refs": {
                        "shortest_path_to_root": [],
                        "first_available_section_ref": "Ramban on Genesis, Introduction 1"
                      },
                      "children": ["Introduction", ""]
                    }
                  },
                  "Invalid Ref": { "value": { "is_ref": false } }
                }
              }
            },
            "description": "Returns reference metadata. If the reference string is invalid, returns `{\"is_ref\": false}` with HTTP 200."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CoreErrorResponse" }
              }
            },
            "description": "Returned when the reference string causes a parsing error."
          }
        },
        "summary": "Ref",
        "description": "Validates a text reference (`tref`) and returns structured metadata about it.\n\nThe response varies based on the `node_type` of the referenced text:\n\n- **JaggedArrayNode**: Standard text nodes (e.g. biblical chapters/verses, Talmud pages). Returns `depth`, `address_types`, `section_names`, and positional indexes/labels.\n- **SchemaNode**: Nodes with named children (e.g. a commentary with an introduction and main text). Returns `children` list.\n- **DictionaryEntryNode**: Individual dictionary entries. Returns `lexicon_name` and `headword`, plus the JaggedArrayNode fields.\n- **DictionaryNode**: Dictionary root nodes. Returns `lexicon_name`.\n- **SheetNode**: User-created source sheets. Returns `sheet_id`.\n\nIf the node has a default child (a child node that represents the primary content), the response includes a `default_child_node` object with the child's `node_type`, `node_index`, and optionally `depth`, `address_types` and `sectionNames` (for JaggedArrayNode children) or `lexicon_name` (for DictionaryNode parents).\n\nAll types include `navigation_refs` with `shortest_path_to_root` (array of ancestor refs from immediate parent to book level) and `first_available_section_ref`. Segment-level refs also get `prev_segment_ref`/`next_segment_ref`, and section-level refs get `prev_section_ref`/`next_section_ref`."
      },
      "parameters": [
        {
          "name": "tref",
          "description": "A text reference string to validate and analyze. Can be any Sefaria reference, including book-level, section-level, segment-level, or ranged references.",
          "schema": { "type": "string", "default": "Genesis 1:1" },
          "in": "path",
          "required": true,
          "examples": {
            "Segment Level": { "value": "Genesis 1:1" },
            "Section Level": { "value": "Berakhot 22a" },
            "Book Level": { "value": "Ramban on Genesis" },
            "Range": { "value": "Genesis 1:1-3" }
          }
        }
      ]
    },
    "/api/v2/index/{title}": {
      "summary": "Index Metadata (v2)",
      "description": "Same as `GET /api/index/{title}`. Returns metadata for a single index (work) by title.",
      "get": {
        "operationId": "get-index-v2",
        "tags": ["Index"],
        "parameters": [
          {
            "name": "title",
            "description": "The index title, e.g. `Genesis`.",
            "schema": { "type": "string", "default": "Genesis" },
            "in": "path",
            "required": true,
            "examples": { "Genesis": { "value": "Genesis" } }
          },
          {
            "name": "with_content_counts",
            "description": "Annotate schema leaves with content_counts and add firstSectionRef.",
            "schema": { "type": "string", "enum": ["0", "1"], "default": "0" },
            "in": "query"
          },
          {
            "name": "with_related_topics",
            "description": "Add relatedTopics for the requested index.",
            "schema": { "type": "string", "enum": ["0", "1"], "default": "0" },
            "in": "query"
          }
        ],
        "description": "Same as `GET /api/index/{title}`. Returns metadata for a single index (work) by title.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CoreIndexResponse" },
                "examples": {
                  "Genesis (v2)": {
                    "value": {
                      "title": "Genesis",
                      "categories": ["Tanakh", "Torah"],
                      "schema": {
                        "nodeType": "JaggedArrayNode",
                        "depth": 2,
                        "addressTypes": ["Perek", "Pasuk"],
                        "sectionNames": ["Chapter", "Verse"],
                        "match_templates": [
                          { "term_slugs": ["sefer", "genesis"] },
                          { "term_slugs": ["torah", "genesis"] },
                          { "term_slugs": ["torah", "sefer", "genesis"] },
                          { "term_slugs": ["genesis"] }
                        ],
                        "lengths": [50, 1533],
                        "titles": [
                          { "text": "Bereshit", "lang": "en" },
                          { "text": "Gen", "lang": "en" },
                          { "text": "Gen.", "lang": "en" },
                          { "text": "Breishit", "lang": "en" },
                          { "text": "Bereishit", "lang": "en" },
                          { "text": "Beresheet", "lang": "en" },
                          { "text": "Bereshith", "lang": "en" },
                          { "text": "Bereishis", "lang": "en" },
                          { "text": "B’resh.", "lang": "en" },
                          { "text": "B’reshith", "lang": "en" },
                          { "text": "Genèse", "lang": "en" },
                          { "text": "Beresheit", "lang": "en" },
                          { "text": "ברא'", "lang": "he" },
                          { "text": "בר'", "lang": "he" },
                          { "text": "בר׳", "lang": "he" },
                          { "text": "ברא׳", "lang": "he" },
                          { "text": "בְּרֵאשִׁית", "lang": "he" },
                          { "text": "בראשית", "lang": "he", "primary": true },
                          { "text": "Genesis", "lang": "en", "primary": true }
                        ],
                        "title": "Genesis",
                        "heTitle": "בראשית",
                        "heSectionNames": ["פרק", "פסוק"],
                        "key": "Genesis"
                      },
                      "order": [1, 1],
                      "authors": [],
                      "enDesc": "Genesis (“Bereshit”) is the first book of the Torah, Judaism’s foundational text, and the only one consisting almost entirely of stories, with just three explicit laws. It tells of the origins of mankind and the Israelites, with stories on creation, Adam and Eve, Noah’s ark, the patriarchs and matriarchs - Abraham and Sarah, Isaac and Rebecca, Jacob, Leah and Rachel - and Joseph and his brothers. Its narratives depict figures as they encounter God, face wandering and exile, and grapple with conflict in family relationships",
                      "heDesc": "ספר בראשית הוא הספר הראשון בחמשת חומשי התורה והיחיד הכולל כמעט אך ורק סיפורים - ורק שלושה חוקים מפורשים. הוא מספר על תולדות האדם ועם ישראל בסיפורי הבריאה, אדם חוה, תיבת נח, האבות והאימהות - אברהם ושרה, יצחק ורבקה, יעקב, רחל ולאה ויוסף ואחיו. עלילותיו מתארות דמויות המתעמתות עם אלוהים ומתמודדות עם אתגרי גלות ונדודים ועם מאבקים פנים-משפחתיים.",
                      "enShortDesc": "Creation, the beginning of mankind, and stories of the patriarchs and matriarchs.",
                      "heShortDesc": "בריאת העולם, תחילתה של האנושות וסיפורי האבות והאמהות.",
                      "pubDate": [1488],
                      "hasErrorMargin": true,
                      "compDate": [-1400, -400],
                      "compPlace": "Sinai/Canaan",
                      "pubPlace": "Soncino",
                      "is_cited": true,
                      "corpora": ["Tanakh"],
                      "heTitle": "בראשית",
                      "titleVariants": [
                        "Bereshit",
                        "Gen",
                        "Gen.",
                        "Breishit",
                        "Bereishit",
                        "Beresheet",
                        "Bereshith",
                        "Bereishis",
                        "B’resh.",
                        "B’reshith",
                        "Genèse",
                        "Beresheit",
                        "Genesis"
                      ],
                      "heTitleVariants": [
                        "ברא'",
                        "בר'",
                        "בר׳",
                        "ברא׳",
                        "בְּרֵאשִׁית",
                        "בראשית"
                      ],
                      "alts": {
                        "Parasha": {
                          "nodes": [
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 1:1-6:8",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 1:1-2:3",
                                "Genesis 2:4-2:19",
                                "Genesis 2:20-3:21",
                                "Genesis 3:22-4:18",
                                "Genesis 4:19-4:22",
                                "Genesis 4:23-5:24",
                                "Genesis 5:25-6:8"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "bereshit"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["bereshit"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Bereshit",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Bereshit",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "בראשית",
                                  "lang": "he"
                                },
                                { "text": "Parashat Bereshit", "lang": "en" },
                                { "text": "פרשת בראשית", "lang": "he" },
                                { "text": "Parashat Bereishit", "lang": "en" },
                                { "text": "Parashat Genesis", "lang": "en" },
                                { "text": "Genesis", "lang": "en" },
                                { "text": "Bereishit", "lang": "en" },
                                { "text": "Breishit", "lang": "en" },
                                { "text": "Bereshis", "lang": "en" }
                              ],
                              "title": "Bereshit",
                              "heTitle": "בראשית"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 6:9-11:32",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 6:9-6:22",
                                "Genesis 7:1-7:16",
                                "Genesis 7:17-8:14",
                                "Genesis 8:15-9:7",
                                "Genesis 9:8-9:17",
                                "Genesis 9:18-10:32",
                                "Genesis 11:1-11:32"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "noach"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["noach"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Noach",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Noach",
                                  "lang": "en"
                                },
                                { "primary": true, "text": "נח", "lang": "he" },
                                { "text": "Parashat Noach", "lang": "en" },
                                { "text": "פרשת נח", "lang": "he" },
                                { "text": "Noah", "lang": "en" },
                                { "text": "Parshat Noah", "lang": "en" }
                              ],
                              "title": "Noach",
                              "heTitle": "נח"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 12:1-17:27",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 12:1-12:13",
                                "Genesis 12:14-13:4",
                                "Genesis 13:5-13:18",
                                "Genesis 14:1-14:20",
                                "Genesis 14:21-15:6",
                                "Genesis 15:7-17:6",
                                "Genesis 17:7-17:27"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "lech-lecha"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["lech-lecha"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Lech Lecha",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Lech Lecha",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "לך לך",
                                  "lang": "he"
                                },
                                { "text": "Parashat Lech Lecha", "lang": "en" },
                                { "text": "פרשת לך לך", "lang": "he" },
                                { "text": "Parashat Lekh Lekha", "lang": "en" }
                              ],
                              "title": "Lech Lecha",
                              "heTitle": "לך לך"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 18:1-22:24",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 18:1-18:14",
                                "Genesis 18:15-18:33",
                                "Genesis 19:1-19:20",
                                "Genesis 19:21-21:4",
                                "Genesis 21:5-21:21",
                                "Genesis 21:22-21:34",
                                "Genesis 22:1-22:24"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "vayera"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["vayera"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Vayera",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Vayera",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "וירא",
                                  "lang": "he"
                                },
                                { "text": "Parashat Vayera", "lang": "en" },
                                { "text": "פרשת וירא", "lang": "he" },
                                { "text": "Parashat Vayeira", "lang": "en" },
                                { "text": "Parshat Vayera", "lang": "en" }
                              ],
                              "title": "Vayera",
                              "heTitle": "וירא"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 23:1-25:18",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 23:1-23:16",
                                "Genesis 23:17-24:9",
                                "Genesis 24:10-24:26",
                                "Genesis 24:27-24:52",
                                "Genesis 24:53-24:67",
                                "Genesis 25:1-25:11",
                                "Genesis 25:12-25:18"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "chayei-sara"],
                                  "scope": "any"
                                },
                                {
                                  "term_slugs": ["chayei-sara"],
                                  "scope": "any"
                                }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Chayei Sara",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Chayei Sara",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "חיי שרה",
                                  "lang": "he"
                                },
                                {
                                  "text": "Parashat Chayei Sara",
                                  "lang": "en"
                                },
                                { "text": "פרשת חיי שרה", "lang": "he" },
                                {
                                  "text": "Parashat Chayei Sarah",
                                  "lang": "en"
                                },
                                {
                                  "text": "Parashat Chaye Sarah",
                                  "lang": "en"
                                },
                                {
                                  "text": "Parshat Chayei Sarah",
                                  "lang": "en"
                                },
                                { "text": "Chayei Sarah", "lang": "en" },
                                { "text": "Hayei Sarah", "lang": "en" },
                                { "text": "Hayye Sarah", "lang": "en" }
                              ],
                              "title": "Chayei Sara",
                              "heTitle": "חיי שרה"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 25:19-28:9",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 25:19-26:5",
                                "Genesis 26:6-26:12",
                                "Genesis 26:13-26:22",
                                "Genesis 26:23-26:29",
                                "Genesis 26:30-27:27",
                                "Genesis 27:28-28:4",
                                "Genesis 28:5-28:9"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "toldot"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["toldot"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Toldot",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Toldot",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "תולדות",
                                  "lang": "he"
                                },
                                { "text": "Parashat Toldot", "lang": "en" },
                                { "text": "פרשת תולדות", "lang": "he" },
                                { "text": "Parashat Toledot", "lang": "en" },
                                { "text": "Parshat Toledot", "lang": "en" },
                                { "text": "Toldos", "lang": "en" }
                              ],
                              "title": "Toldot",
                              "heTitle": "תולדות"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 28:10-32:3",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 28:10-28:22",
                                "Genesis 29:1-29:17",
                                "Genesis 29:18-30:13",
                                "Genesis 30:14-30:27",
                                "Genesis 30:28-31:16",
                                "Genesis 31:17-31:42",
                                "Genesis 31:43-32:3"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "vayetzei"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["vayetzei"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Vayetzei",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Vayetzei",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "ויצא",
                                  "lang": "he"
                                },
                                { "text": "Parashat Vayetzei", "lang": "en" },
                                { "text": "פרשת ויצא", "lang": "he" },
                                { "text": "Parashat Vayeitzey", "lang": "en" },
                                { "text": "Vayetze", "lang": "en" },
                                { "text": "Parashat Vayetze", "lang": "en" },
                                { "text": "Parashat Vayetzey", "lang": "en" }
                              ],
                              "title": "Vayetzei",
                              "heTitle": "ויצא"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 32:4-36:43",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 32:4-32:13",
                                "Genesis 32:14-32:30",
                                "Genesis 32:31-33:5",
                                "Genesis 33:6-33:20",
                                "Genesis 34:1-35:11",
                                "Genesis 35:12-36:19",
                                "Genesis 36:20-36:43"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "vayishlach"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["vayishlach"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Vayishlach",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Vayishlach",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "וישלח",
                                  "lang": "he"
                                },
                                { "text": "Parashat Vayishlach", "lang": "en" },
                                { "text": "פרשת וישלח", "lang": "he" }
                              ],
                              "title": "Vayishlach",
                              "heTitle": "וישלח"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 37:1-40:23",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 37:1-37:11",
                                "Genesis 37:12-37:22",
                                "Genesis 37:23-37:36",
                                "Genesis 38:1-38:30",
                                "Genesis 39:1-39:6",
                                "Genesis 39:7-39:23",
                                "Genesis 40:1-40:23"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "vayeshev"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["vayeshev"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Vayeshev",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Vayeshev",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "וישב",
                                  "lang": "he"
                                },
                                { "text": "Parashat Vayeshev", "lang": "en" },
                                { "text": "פרשת וישב", "lang": "he" },
                                { "text": "Parashat Veyeshev", "lang": "en" },
                                { "text": "Parshat Vayeshev", "lang": "en" }
                              ],
                              "title": "Vayeshev",
                              "heTitle": "וישב"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 41:1-44:17",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 41:1-41:14",
                                "Genesis 41:15-41:38",
                                "Genesis 41:39-41:52",
                                "Genesis 41:53-42:18",
                                "Genesis 42:19-43:15",
                                "Genesis 43:16-43:29",
                                "Genesis 43:30-44:17"
                              ],
                              "match_templates": [
                                {
                                  "term_slugs": ["parasha", "miketz"],
                                  "scope": "any"
                                },
                                { "term_slugs": ["miketz"], "scope": "any" }
                              ],
                              "isMapReferenceable": false,
                              "sharedTitle": "Miketz",
                              "titles": [
                                {
                                  "primary": true,
                                  "text": "Miketz",
                                  "lang": "en"
                                },
                                {
                                  "primary": true,
                                  "text": "מקץ",
                                  "lang": "he"
                                },
                                { "text": "Parashat Miketz", "lang": "en" },
                                { "text": "פרשת מקץ", "lang": "he" }
                              ],
                              "title": "Miketz",
                              "heTitle": "מקץ"
                            },
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 1,
                              "wholeRef": "Genesis 44:18-47:27",
                              "addressTypes": ["Aliyah"],
                              "sectionNames": ["Aliyah"],
                              "refs": [
                                "Genesis 44:18-44:30",
                                "Genesis 44:31-45:7",
                                "Genesis 45:8-45:18",
                                "Genesis 45:19-45:27",
                                "Genesis 45:28-46:27",
                                "Genesis 46:28-47:10",
                                "Genesis 47:11-47:27"
                              ],
                              "match_templates": [
[...]
